.saved__cities {

    &-header {
        padding: 10px 0;
    }

    &-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    &-card {
        display: flex;
        flex-direction: row;
        border: 1px white solid;
        background-color: rgba(255, 255, 255, 0.294);
        border-radius: 5px;
        width: 100%;
        margin-bottom: 16px;
    }

    &-data {
        display: flex;
        flex-direction: column;
    }

    &-image {
        width: 80px;
    }
}