.saved__cities {

    &-header {
        padding: 10px 0;
    }

    &-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    &-card {
        display: flex;
        flex-direction: row;
        border: 1px white solid;
        background-color: rgb(83 83 83 / 76%);;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 16px;
        justify-content: space-evenly;
    }

    &-data {
        display: flex;
        flex-direction: column;
        width: 165px;
    }

    &-image {
        width: 80px;
    }

    &-temp {
        display: flex;
        flex-direction: row;
    }

    &-speed {
        display: flex;
        flex-direction: row;
    }

    &-icon {
        width: 20px;
    }
}
  
    .weather__button--delete {
    width: 55px;
    height: 35px;
    // margin-left: 75%
}