.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;

    &__city {
        font-size: 20px;
        text-align: center;
        padding: 1rem 0;
    }

    &__temperature {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__temperature-text {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        padding: 1rem 0;
    }

    &__temperature-icon {
        width: 50px;
    }

    &__title {
        font-size: 14px;
        text-align: center;
        color: white;
    }

    &__stats {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 0;
        width: 290px;
        background-color: rgba(0, 0, 0, 0.147);
        border-radius: 20px;
        }

    &__speed, &__degrees {
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    &__speed-header {
        display: flex;
        flex-direction: row;
    }

    &__speed-icon {
        width: 50px;
    }

    &__subtext {
        text-align: center;
        padding: 12px 0;
        font-weight: 600;

    }

    &__degrees-header {
        display: flex;
        flex-direction: row;
    }

    &__degrees-icon {
        width: 50px;
    }

}