.weather {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;

    &__city {
        font-size: 20px;
        text-align: center;
        padding: 1rem 0;
    }

    &__temperature {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        padding: 1rem 0;

    }

    &__title {
        font-size: 14px;
        text-align: center;
    }

    &__stats {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 0;
    }

    &__speed, &__degrees {
        width: 75px;
    }

    &__subtext {
        text-align: center;
    }

}