.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 10px 0;
}

.header__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.shareLogo {
    width: 25px;
    height: 25px;
}
.gpsLogo {
    width: 30px;
    height: 30px;
}

.appLogo {
    height: 50px;

}