.header {
    width: 100%;
}

.header__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 10px 0;
}

.header__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2% 5% 2% 5%;
    filter: invert(1);
}
.header__logo-menuLogo {
    width: 25px;
    height: 25px;
}
.header__logo-addingLogo {
    width: 20px;
    height: 20px;
}
.header__btn {
    border: none;
}