* {
    margin: 0;
    padding: 0;
}

.App {
    background-color: #eeeeff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather {

    display: flex;
    align-items: center;
    flex-direction: column;

    &__card {
        border: 1px white solid;
        background-color: rgb(83 83 83 / 76%);;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__background {
        width: 85%;
        border-radius: 25px;
        background-size: cover;
    }

}