* {
    margin: 0;
    padding: 0;
}

.App {
    background-color: #eeeeff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather {

    &__card {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__background {
        padding: 20px;
        margin: 10px;
        width: 70%;
        border-radius: 25px;
        background-size: cover;
    }

}